# P1 data client for REST API

- This Jupyter notebook is an example of how to use the Python Data Client

## Initialization

In [1]:
import os

import p1_data_client_python.client as p1_data

# Enter your token here.
# You can get your token by signing up at `www.particle.one`.
#TOKEN = "YOUR_TOKEN_HERE"
# An example token is like:
#TOKEN = "e44e7c6b04ef3ea1cfb7a8a67db74751c177259e"
TOKEN = os.environ["P1_API_TOKEN"]

client = p1_data.Client(token=TOKEN)

## Quick start

### Entities description

There are three main objects: 

* [Metadata information](#metadata)
* [Payload identifiers](#payload)
* [Time series data](#timeseries)

So, we have make three simple steps: 

1. Get a metadata information for next usage
2. Select payload identifiers by metadata values
3. Grab time series data by selected payload ID

Let's jump in!

<a id="metadata"></a>
## Metadata information

All metadata types listed in our client object:

In [2]:
print(client.list_of_metadata)

['COMMODITIES', 'BUSINESS-CATEGORIES', 'COUNTRIES', 'FREQUENCIES']

Right now we have next list of metadata types: 

* [COMMODITIES](#commodities)
* [BUSINESS-CATEGORIES](#business-categories)
* [COUNTRIES](#countries)
* [FREQUENCIES](#frequencies)

It can be changed in the future

<a id="commodities"></a>
### List of COMMODITIES:

In [3]:
client.get_metadata_type('COMMODITIES')

        COMMODITIES
0          Aluminum
1           Benzene
2         Biodiesel
3           Biofuel
4         Butadiene
..              ...
64          Uranium
65  Urea Fertilizer
66    Vegetable Oil
67            Wheat
68             Zinc

[69 rows x 1 columns]

<a id="business-categories"></a>
### List of BUSINESS-CATEGORIES:

In [4]:
client.get_metadata_type('BUSINESS-CATEGORIES')

  BUSINESS-CATEGORIES
0          Downstream
1           Midstream
2           Undefined
3            Upstream

<a id="countries"></a>
### List of COUNTRIES:

In [5]:
client.get_metadata_type('COUNTRIES')

          COUNTRIES
0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
4           Andorra
..              ...
226  Western Sahara
227           World
228           Yemen
229          Zambia
230        Zimbabwe

[231 rows x 1 columns]

<a id="frequencies"></a>
### List of FREQUENCIES:

In [6]:
client.get_metadata_type('FREQUENCIES')

   FREQUENCIES
0        Daily
1       Weekly
2      Monthly
3    Quarterly
4  Semi-annual
5       Annual


<a id="payload"></a>
## Payload identifiers

After we armed be a metadata, we have to use it for obtaining payload identifiers

Let's construct a query for it.

For example we have to know prices for a Coal in the Belize and Brazil:

In [7]:
client.search(text='Price', commodity=['Coal'], country=['Belize', 'Brazil'])

,name,commodity,payload_id,business_category,country,frequency,unit,start_date
0,Export price – all coal – Belize – Miami – FL ...,Coal,00158d049d149197f67115a6cc3224e956e5c9e9,Undefined,Belize,Annual,USD/short ton,None
1,Export price – all coal – Belize – Miami – FL ...,Coal,d9a75857725b40edc7707705e8956837d26d7ad2,Undefined,Belize,Quarterly,USD/short ton,None
2,Export price – all coal – Belize – all termina...,Coal,c7c2ede17893e4339633bf6807c6608be68dcbe1,Undefined,Belize,Annual,USD/short ton,None
3,Export price – all coal – Belize – all termina...,Coal,05918b74bf4e914680f2a40c5011404ac72d60c7,Undefined,Belize,Quarterly,USD/short ton,None
4,Export price – all coal – Brazil – Anchorage –...,Coal,965f02c87b85446a9d97490f4aa0f473b924af43,Undefined,Brazil,Annual,USD/short ton,None
...,...,...,...,...,...,...,...,...
140,Import price – steam coal – Brazil – Portland ...,Thermal Coal,a825f5ca8c9860d681649c5e9902561bec87adeb,Undefined,Brazil,Quarterly,USD/short ton,None
141,Import price – steam coal – Brazil – all termi...,Coal,125d0196fac861d9aa80906cfd1e4270d76a4fbf,Undefined,Brazil,Annual,USD/short ton,None
142,Import price – steam coal – Brazil – all termi...,Coal,927f28bb3724ceb15094709766de705e220215ef,Undefined,Brazil,Quarterly,USD/short ton,None
143,Import price – steam coal – Brazil – all termi...,Thermal Coal,125d0196fac861d9aa80906cfd1e4270d76a4fbf,Undefined,Brazil,Annual,USD/short ton,None
144,Import price – steam coal – Brazil – all termi...,Thermal Coal,927f28bb3724ceb15094709766de705e220215ef,Undefined,Brazil,Quarterly,USD/short ton,None

The *payload_id* field contain a desired value for next time series search.

Keep in mind that we can put any type of information in the *name* field.

#### Full list parameters for search

- `text`: string. Works as a filter. Free text. Everything that have no match with this phrase will be filtered out. 
- `commodity`: list of [strings](#commodities). Works as a filter.
- `business_category`: [string](#business-categories). Works as a filter. 
- `country`: list of [strings](#countries). Works as a filter. 
- `frequency`: list of [strings](#frequencies). Works as a filter. 

If search conditions will be too broad then server can't return it at one time.
Right now the every page/chunk of data limited by 1000 lines.

For example we want to get first three page, 3000 lines for a Coal prices:

In [8]:
client.search(text='Price', commodity=['Coal'])

,name,commodity,payload_id,business_category,country,frequency,unit,start_date
0,0C)Free-on-rail Price (Tax-inclusive): Steam ...,Coal,e53640685f7791860228db50c3415f0c866c0e59,Midstream,China,Weekly,yuan/ton,2009-01-10
1,0C)Free-on-rail Price (Tax-inclusive): Steam ...,Thermal Coal,e53640685f7791860228db50c3415f0c866c0e59,Midstream,China,Weekly,yuan/ton,2009-01-10
2,2Uingtang Port: Exit Price: Steam Slack Co...,Coal,42881c1d1dd47587d02da87c94e9d821db8bbf72,Upstream,China,Daily,yuan/ton,2009-02-01
3,2Uingtang Port: Exit Price: Steam Slack Co...,Coal,28b1154ac2d96206e8b96b2cff251378f1e67d7f,Upstream,China,Daily,yuan/ton,2009-02-01
4,2Uingtang Port: Exit Price: Steam Slack Co...,Coal,2495178e3232dbbf0b5cbc9b2213ffc14751ec21,Upstream,China,Daily,yuan/ton,2009-02-01
...,...,...,...,...,...,...,...,...
995,Coal shipment price – Antelope Coal Mine (4801...,Coal,e2d17c3e3bbbfee75328b28f8a6e0167b4af6fa3,Undefined,United States,Annual,USD/short ton,None
996,Coal shipment price – Antelope Coal Mine (4801...,Coal,cb529bd8bc6094a22f163e7108a7749f0762e97d,Undefined,United States,Quarterly,USD/short ton,None
997,Coal shipment price – Antelope Coal Mine (4801...,Coal,cbf6cd37bc90100b488a5eca1059ad9828a6bebf,Undefined,United States,Annual,USD/short ton,None
998,Coal shipment price – Antelope Coal Mine (4801...,Coal,8684eeb8f90593c064a5ab78e2c48a274dfba9a8,Undefined,United States,Quarterly,USD/short ton,None
999,Coal shipment price – Antelope Coal Mine (4801...,Coal,6f7718ef469984fe91c3e9ea31bc61a2725bd292,Undefined,United States,Annual,USD/short ton,None

In this case you have to iterate next two pages by the following code:

In [9]:
for page in client.search_pages(pages_limit=2):
    print(page)

                                                  name commodity  \
0    Coal shipment price – Antelope Coal Mine (4801...      Coal
1    Coal shipment price – Antelope Coal Mine (4801...      Coal
2    Coal shipment price – Antelope Coal Mine (4801...      Coal
3    Coal shipment price – Antelope Coal Mine (4801...      Coal
4    Coal shipment price – Antelope Coal Mine (4801...      Coal
..                                                 ...       ...
995  Coal shipment price – Black Thunder (4800977) ...      Coal
996  Coal shipment price – Black Thunder (4800977) ...      Coal
997  Coal shipment price – Black Thunder (4800977) ...      Coal
998  Coal shipment price – Black Thunder (4800977) ...      Coal
999  Coal shipment price – Black Thunder (4800977) ...      Coal

                                   payload_id business_category  \
0    6ac35e2b7a21543dc72641a5ee66014e4f12e723         Undefined
1    da45040ecc731e20a34935ade2cd55c8d292024d         Undefined
2    3b0479d7ebed2970dc25b9be8d2f3f48eaac91af         Undefined
3    21fb5043666cbed1d8dc7fa0292c4325d62947bd         Undefined
4    822602b6b7ce5cc4e3d11bf9cde6d1c636f68273         Undefined
..                                        ...               ...
995  f7e6648e2b117cb42878e60ab1741fa8ac22f5d7         Undefined
996  9aade1ff61f603e2b7a7eac31b9fb2d84a660046         Undefined
997  893335625dddd33e4057556d19a6a535a8f2309a         Undefined
998  793214f660b7c64c7fd6741166c3f9edd7ebddfc         Undefined
999  76a4e4ad02269cfacb283218c935813bc59ee873         Undefined

           country  frequency           unit start_date
0    United States  Quarterly  USD/short ton       None
1    United States     Annual  USD/short ton       None
2    United States  Quarterly  USD/short ton       None
3    United States     Annual  USD/short ton       None
4    United States  Quarterly  USD/short ton       None
..             ...        ...            ...        ...
995  United States     Annual  USD/short ton       None
996  United States  Quarterly  USD/short ton       None
997  United States     Annual  USD/short ton       None
998  United States  Quarterly  USD/short ton       None
999  United States     Annual  USD/short ton       None

[1000 rows x 8 columns]

Keep in mind, that we can iterate over pages after first search only.

<a id="timeseries"></a>
## Time series data

And the final step: get time series data!

In [10]:
client.get_payload('00158d049d149197f67115a6cc3224e956e5c9e9')

  original_period original_value               period       value
0            2000         174.17  2000-01-01T00:00:00  174.169998
1            2012          79.76  2012-01-01T00:00:00   79.760002
2            2014         564.33  2014-01-01T00:00:00  564.330017
3            2015         307.82  2015-01-01T00:00:00  307.820007
4            2016          86.36  2016-01-01T00:00:00   86.360001